<?xml version="1.0" encoding="utf-8"?>

<launch>
    <node name="ground_truth" pkg="pose_estimate" type="ground_truth.py" output="screen" />
    <node name="cv_module" pkg="pose_estimate" type="cv_module.py" output="screen" />
    <node name="yolo_cv_module" pkg="pose_estimate" type="yolo_cv_module.py" output="screen" />
    <node name="kalman_filter" pkg="pose_estimate" type="kalman_filter.py" output="screen" />
    <include file="$(find darknet_ros)/launch/darknet_ros.launch"></include>
</launch>
